* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: jedi-outline;
    src: url(assets/fonts/starjedi/Starjhol.ttf);
}

.title {
    font-family: jedi-outline;
    font-size: 4rem;
    color: #FFEE58!important;
    text-align: center;
    
    
}

.sub-title{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
    font-size: .75rem;
}

body {
    display: flex;
    flex-direction: column;    
    align-items: center;
    background-color: #000;
}
#container {
    background-color: #000;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 .6rem 1.5rem .6rem;
    position: relative;
}

.categories:hover{
    cursor: pointer;
    box-shadow: 0 0 8px 4px #999;
    transition: box-shadow .1s;
    
}

a{
    text-decoration: none;
}
.name {
    text-align: center;
    color: #999;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;    
    background-color: rgba(0, 0, 0, 0.507);    
    position: absolute;
    bottom: 16px;
    
}
img {
    width: 20rem;
    height: 10rem;
    
    
}

footer {
    color: #fff;
    font-size: .90rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-top: 40px;
}

.footer-container {
    width: 73vw;

}

.copy-find-me {
    display: flex;
    justify-content: space-between;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;

}
.img-social {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    
}

#developer {
    color: #5a5ad8;
}

.diclaimer {
    text-align: center;
    margin: 20px 0;
    
}

#swap-api {
    color: #5a5ad8;
    
}